venv/
.idea/
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/BlenderSpam.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/BlenderSpam.iml
.idea/modules.xml
